
    body{
    background:#222;
}
.card{
    width: 90%;
    max-width: 470px;
    border-radius: 27px;
    background:#b0adc5;
    color: #fff;
    margin: 100px auto 0;
    
    padding: 40px 40px;
    text-align: center;
}
.search{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border:0;
    outline:0;
    color:#555;
    background:#ebfffc;
    height:40px;
    padding:10px 25px;  
    border-radius: 20px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}
.search button {
    border: 0;
    outline :0;
    background:#ebfffc;
    border-radius: 50%;
    height:50px;
    width:50px;
    cursor:pointer;
}
.search button img {
    width:16px;
}
.weather-icon{
    margin-top:40px;
    width:150px;
}
.weather h1{
    font-size: 80px;
    font-weight: 400px;
}
.weather h2{
    font-size: 45px;
    font-weight: 400px;
    margin-top:-60px;
}
.details{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 20px;
    margin-top:50px;
}
.col{
    display:flex;
    text-align: left;
    align-items: center;
    /* margin-right: 200px; */
}
#id1{
    margin-left: 25px;
    margin-right: 100px;
}
.humiditytext,.windspeedtext{
    font-size: 20px;
}
#id2{
    margin-left:100px ;
    margin-right: 50px;
}
.col img{
    width:40px;
    margin-right: 10px;
}
.humidity,.wind{
    font-size: 28px;
    margin-top:-6px;
}
.weather{
    display:none;
}
.error{
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 10px;
    display:none;
}
